<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/favicon.png" />
  <title>Bow | Login</title>
</head>
<body>
<div class="wrapper form">
  <div class="content">
    <div id="bow-instance">
      <p align="center">
        <span class="img">
          <img alt="logo" src="/static/bow_icon_alt.png" decoding="async" data-nimg="fill" loading="lazy" />
        </span>
      </p>
      <h1 class="purple">Oups !</h1>
      <h2>An error occurred...</h2>
      <p style="color: var(--red)" align="center">
        The page you are looking for does not exist or encountered a problem while loading...
      </p>
      <br />
    </div>
    <div style="text-align: center; font-weight: bold; opacity: 65%; margin-top: 3rem;">
      Come back to <a href="/register">home</a>.
    </div>
  </div>
</div>
</body>
</html>