<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="robots" content="index,follow" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/favicon.png" />
  <title>Bow | Register</title>
</head>
<body>
<div class="wrapper form">
  <div class="content">
    <div id="lynk-instance">
      <p align="center">
        <span class="img">
          <img alt="logo" src="/static/bow_icon_alt.png" decoding="async" data-nimg="fill" loading="lazy" />
        </span>
      </p>
      <h1 class="purple">Welcome !</h1>
      <h2>You're new to Bow ? Complete these few steps to start !</h2>
      <div class="box is-danger" style="{% if message == '' %}display: none{% endif %}">
        {{message}}
      </div>
      <form action="/register" method="post">
        <div class="form-group">
          <label class="mb-2">Nickname</label>
          <input pattern="^[a-z0-9_.]+$" type="text" class="form-control" name="username" placeholder="@tryon" required>
        </div>
        <div class="form-group">
          <label class="mb-2">Email</label>
          <input type="email" class="form-control" name="email" placeholder="tryon@****.fr" required>
        </div>
        <div class="form-group">
          <label class="mb-2">Password</label>
          <input type="password" class="form-control" name="password" placeholder="***********" required>
        </div>
        <button type="submit" class="btn">
          Register
          <svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_207_94" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="47" height="47">
              <rect width="47" height="47" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_207_94)">
              <path d="M7.83366 39.1663C6.75658 39.1663 5.83453 38.7828 5.06751 38.0158C4.3005 37.2488 3.91699 36.3268 3.91699 35.2497V29.3747H7.83366V35.2497H39.167V11.7497H7.83366V17.6247H3.91699V11.7497C3.91699 10.6726 4.3005 9.75054 5.06751 8.98353C5.83453 8.21651 6.75658 7.83301 7.83366 7.83301H39.167C40.2441 7.83301 41.1661 8.21651 41.9331 8.98353C42.7002 9.75054 43.0837 10.6726 43.0837 11.7497V35.2497C43.0837 36.3268 42.7002 37.2488 41.9331 38.0158C41.1661 38.7828 40.2441 39.1663 39.167 39.1663H7.83366ZM22.5212 32.3122L19.7795 29.4726L23.843 25.458H3.91699V21.5413H23.843L19.7795 17.5268L22.5212 14.6872L31.3337 23.4997L22.5212 32.3122Z" fill="white"/>
            </g>
          </svg>
        </button>
      </form>
      <br />
    </div>
    <div style="text-align: center; font-weight: bold; opacity: 65%; margin-top: 3rem;">
      If you already have an account <a href="/dashboard">click here</a>
    </div>
  </div>
</div>
<script src="/static/icons.js"></script>
<script>
  if ('{{message}}' !== '') {
      alert('{{message}}')
  }
</script>
</body>
</html>